@charset "UTF-8";

:root {
    --cor01: #0C3C60;
    --cor02: #253541;
    --cor03: #4D33DE;
    --cor04: #000000;
    --cor05: #ffffff;
    --cor06: #6ed1ff;
    --font-padrao: "Roboto", sans-serif;
}

body {
    background: var(--cor03);
    height: 100vh;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao);
    list-style: none;
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}

.btn-primary {
    /* background: var(--cor05); */
    color: var(--cor05);
    font-family: var(--font-padrao);
    list-style: none;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 3px;
    border: 1px solid var(--cor05);
    cursor: pointer;
    transition: 0.3s all;
}

.btn-primary:hover {
    background-color: var(--cor03);
    color: var(--cor05);
    border-color: var(--cor05);
}

.card-primary,
.card-primary h1,
.card-primary h4{
    background: var(--cor03);
    color: var(--cor05);
}

.item-primary {
    color: var(--cor05);
    /* background: var(--cor03); */
    border: 1px solid var(--cor05);
}


.shadow {
    box-shadow: 0 0 5px 2px  rgba(255, 255, 255, 0.5);
}
.shadow-inset {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.25);
}

footer{
    color: var(--cor05);
}

