@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor01: #0C3C60;
    --cor02: #253541;
    --cor03: #4D33DE;
    --cor04: #000000;
    --cor05: #ffffff;
    --cor06: #6ed1ff;
    --cor07: #3055D9;

    --font-padrao: "Roboto", sans-serif;
}

:root {
    --primary-blue: #0066ff;
    --hover-blue: #0052cc;
    --primary-yellow: #ffc107;
    --hover-yellow: #eab000;
    --text-dark: #333;
    --text-muted: #666;
    --bg-light: #f4f7f9;
    --border-color: #e0e0e0;
    --white: #ffffff;
}

/* HEADER */
header {
    background: var(--white);
    width: 100vw;
    height: 50px;
    top: 0;
}

/* NAV */
.navigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background: var(--cor03); */
    padding: 15px 40px ;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    z-index: 1;
    transition: 0.3s all;
}

.navigation .logo {
    color: var(--text-dark);
    margin-right: 20px;
    font-weight: 900;
    font-size: 1.5rem;
    transition: 0.3s all;
}
.navigation .logo span {
    font-weight: 200;
}

.navigation ul {
    display: flex;
    color: var(--cor05);
    gap: 0.5rem;
    transition: 0.3s all;
}
.navigation ul li {
    padding: 5px 10px;
}

.navigation .login {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.login p {
    color: var(--text-muted);
    font-style: italic;
}
.login a {
    margin-left: 20px;

}


.navigation a, 
.navigation .login a {
    font-size: 1rem;
    color: var(--text-muted);
    transition: 0.3s;
}

.navigation a::after {
    content: "";
    display: block;
    width:0;
    height: 2px;
    background: var(--cor05);
    transition: all 0.3s ease-in-out 0.05s;
}

.navigation a:hover::after {
    width: 100%;
    background: var(--cor06);
}
.navigation .login .email

.navigation .login {
    display: flex;
    align-items: center;
    transition: 0.3s all;
}


.navigation .login img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}


/* MENU */
.navigation .menu {
    display: none; 
    color: var(--text-dark);
    cursor: pointer;
}


/* MEDIA */
@media(max-width: 1030px) {
    .navigation .menu {
        display: inline-block;
    }
    .nav-menu {
        position: fixed;
        top: 48px;
        right: -100%;
        width: 100%;
        height: 100%;
        background: var(--cor05);

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: all 0.3s;
    }

    .nav-menu a {
        color: var(--cor03);        
        font-size: 0.9rem;
    }
    .nav-menu.ativo {
        right: 0;
    }

    .navigation ul {
        display: none;
    }

    .navigation .logo {
        font-size: 1rem;
    }
    .navigation ul {
        gap: 0;
    }
}












