@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor01: #0C3C60;
    --cor02: #253541;
    --cor03: #4D33DE;
    --cor04: #000000;
    --cor05: #ffffff;
    --cor06: #6ed1ff;

    --font-padrao: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-blue: #0066ff;
    --hover-blue: #0052cc;
    --primary-yellow: #ffc107;
    --hover-yellow: #eab000;
    --text-dark: #333;
    --text-muted: #666;
    --bg-light: #f4f7f9;
    --border-color: #e0e0e0;
    --white: #ffffff;
}
body{
    width: 100vw;
    overflow-x: hidden;
}

.nav-menu li:nth-child(1) a {
    color: var(--text-dark);
    font-weight: 500;
}

/* HOME */
.home {
    max-width: 100%px;

}
.home-container {
    height: calc(100vh - 259px);
    display: flex;
    align-items: center;
    justify-content:center;
}

.home-text {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-text .home-h1 {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    color: var(--cor01);
    line-height: 4rem;
    transition: 0.3s all;
}

.home-text .home-h1 span {
    color: var(--cor04);
}

.home-text h4 {
    margin-top: 20px;
    text-align: center;
    color: var(--text-muted);
    font-size: 1.2rem;
    font-weight: 400;
}

.home-text .home-btn:hover{
    background: var(--cor01);
    color: var(--cor05);
}

.cardes {
    border-top: 1px solid var(--cor05);
    display: flex;
    justify-content: space-between;
}
.cardes .item {
    flex: 1 1 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardes .item h1 {
    font-weight: 500;
    text-align: center;
    transition: 0.3s all;
}
.cardes .item p {
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
    /* color: var(--text-muted); */
}

/* MEDIA */
@media(max-width: 1030px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .home {
        padding: 10px;
        margin: 0 auto;
        max-width: 100vw;
    }
    .home-text {
        max-width: 100%;
    }
    .logo {
        order: 1;
    }
    .login {
        order: 2;
    }

    .home-text {
    }
    .home-text .home-h1 {
        font-size: 2.5rem;
    }
    .cardes .item h1 {
        font-size: 1.3em;
    } 
    .cardes .item p {
        font-size: 1rem;
    }

    .home .home-img {

    }
    .home .home-text {

    }
    .home-text .home-h4 {
        font-size: 1rem;
    }
    .home-text .home-h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .cardes {
        display: flex;
        flex-direction: column;
    }
}











