@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor01: #0C3C60;
    --cor02: #253541;
    --cor03: #4D33DE;
    --cor04: #000000;
    --cor05: #ffffff;
    --cor06: #6ed1ff;

    --font-padrao: "Roboto", sans-serif;
}

.form{
    margin: auto;
    max-width: 800px;
    padding: 18px;
}

.form-content {
    margin-bottom: 8px;
    padding-bottom: 18px ;
    position: relative;
}

.form-content label {
    display: inline-block;
    margin-bottom: 4px;
    color: var(--cor05);
}

.form-content input,
.form-content select {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
}

.form-content a {
    position: absolute;
    bottom: 0;
    font-size: 0.8em;
    left: 0;
    visibility: hidden;
}

.form-content {
    position: relative;
}
.toggle-password {
    position: absolute;
    bottom: 20px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
}

.form button {
    width: 100%;
    background: var(--cor01);
    color: var(--cor05);
 }

.form-content.error input {
    border-color: #ff3b25;
    visibility: visible;
}

.form-content.error a {
    color: #ff3b25;
    visibility: visible;
}

