@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor01: #0C3C60;
    --cor02: #253541;
    --cor03: #4D33DE;
    --cor04: #000000;
    --cor05: #ffffff;
    --cor06: #6ed1ff;

    --font-padrao: "Roboto", sans-serif;
}

.navigation li:nth-child(2) a {
    color: cadetblue;
}
/* body {
    height: 100vh;
    background: #4D33DE;
} */
header {
    position: sticky;
    top: 0;
}
main {
    
}
main .perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .perfil .header {
    width: 100%;
    background: rgb(226, 226, 226);
    padding: 20px;
    text-align: left;
}

main .perfil img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

main .perfil h1  {
    color: rgb(0, 49, 141);
    font-size: 1.5rem;
    font-weight: 400;
}

main .perfil .foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
main .perfil .foto a {
    color: rgb(255, 255, 255);
    padding: 5px;
    font-style: italic;
}

main .perfil button {
    padding: 10px 20px;
}

.form{
    margin: auto;
    max-width: 800px;
    padding: 18px;
}

.form-content {
    margin-bottom: 8px;
    padding-bottom: 18px ;
    position: relative;
}

.form-content label {
    display: inline-block;
    margin-bottom: 4px;
    color: var(--cor05);
}

.form-content input,
.form-content select {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
}

.form-content a {
    position: absolute;
    bottom: 0;
    font-size: 0.8em;
    left: 0;
    visibility: hidden;
}

.form-content {
    position: relative;
}
.toggle-password {
    position: absolute;
    bottom: 20px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
}

.form button {
    width: 100%;
    background: var(--cor01);
    color: var(--cor05);
 }

.form-content.error input {
    border-color: #ff3b25;
    visibility: visible;
}

.form-content.error a {
    color: #ff3b25;
    visibility: visible;
}

