@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor01: #0C3C60;
    --cor02: #253541;
    --cor03: #4D33DE;
    --cor04: #000000;
    --cor05: #ffffff;
    --cor06: #6ed1ff;

    --font-padrao: "Roboto", sans-serif;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao);
    list-style: none;
    text-decoration: none;
}

body {
    background: white;
    height: 100vh;
}


/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;   
}

/* NAV */
.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cor01);
    padding: 15px 40px ;
    box-shadow: 0 0 1rem #000;
    z-index: 1;

    transition: 0.3s all;
}

.navigation .logo {
    color: var(--cor04);
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--cor05);
}

.navigation ul {
    display: flex;
    color: var(--cor05);
    gap: 3rem;
}
.navigation ul li {
    padding: 5px 10px;
}
.navigation li a:hover{
    color: #6ed1ff;
}
.navigation li a {
    font-size: 1rem;
    color: var(--cor05);
    transition: 0.3s;
}

.navigation .login {
    display: flex;
    align-items: center;
}
.navigation .login img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.navigation .login a {
    font-size: 1rem;
    padding: 10px;
    color: var(--cor05);
}

/* MENU */
.navigation .menu {

    display: none; 
    color: var(--cor05);
}
/* HOME */
.home {
    position: relative;
}
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-bg {
    background: #000 url(../images/bg-principal.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 50px;
    width: 100%;
    height: 400px;

}
.home-img img {
    width: 100%;
    display: none;
    /* display: none; */
}
.home-text {
    position: absolute;
    top: 200px;
    background: var(--cor05);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
    gap: 20px;

}
.home-text .home-h4 {
    font-weight: 400;
    font-size: 1.5rem;
}
.home-text .home-h1 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--cor01);
}
.home-text .home-btn {
    border: 1px solid var(--cor01);
    padding: 15px 30px;
    color: var(--cor01);
    transition: 0.3s all;
}

.home-text .home-btn:hover{
    background: var(--cor01);
    color: var(--cor05);
}

.cardes {
    display: flex;
    justify-content: space-between;
}
.cardes .item {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.cardes .item h1 {
    margin-top: 60px;
    font-weight: 500;
}
.cardes .item p {
    padding: 10px;
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 10px;

    text-align: center;
}
.cardes .item .btn {
    background: var(--cor05);
    color: var(--cor01);
    margin-top: auto;
    border: 1px solid var(--cor01);
    padding: 10px 20px;
}

.footer {
    margin-top: 50px;
    padding: 10px;
    text-align: center;
}

@media(max-width: 756px) {
    header {
        width: 100%;
    }

    .navigation{
        padding: 10px;
        /* display: flex; */
    }

    .navigation .logo {

        font-size: 1.3rem;
        order: 1;
    }

    .navigation ul {
        display: none;
    }

    .navigation .login {
        order: 2;
    }
    .navigation .menu {
        display: inline-block;
    }

    .home .home-img {

    }
    .home .home-text {
        top: 240px
    }
    .home-text .home-h4 {
        font-size: 1rem;
    }
    .home-text .home-h1 {
        font-size: 1.5rem;
    }
    .cardes {
        display: flex;
        flex-direction: column;
    }



}











