@charset "UTF-8";
/* HEADER */

/* MENU MOBILE */

header .menu-toggle{
    display:none;
    font-size:28px;
    cursor:pointer;
    color:#333;
}

/* HERO */

.hero{
    width:100%;
    min-height:100vh;
    background:#e9ecef;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:120px 20px 60px;
}

.hero h1{
    font-size:55px;
    margin-bottom:15px;
    text-align:center;
}

.hero p{
    font-size:18px;
    color:#666;
    margin-bottom:30px;
    text-align:center;
}

/* HERO - BOTÕES */

.hero .btn:hover{
    background:#fff;
}

.hero .prev{
    left:15px;
}

.hero .next{
    right:15px;
}

/* CAROUSEL */

.carousel{
    width:900px;
    max-width:100%;
    height:420px;
    overflow:hidden;
    position:relative;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.carousel .slides{
    display:flex;
    width:300%;
    height:100%;
    transition:.5s;
}

.carousel .slides .slide{
    width:100%;
    position:relative;
}

.carousel .slide img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.carousel .slide .caption{
    position:absolute;
    bottom:30px;
    left:30px;
    color:#fff;
    padding:15px 20px;
    border-radius:10px;
}

.carousel .caption a::after{
    content: " >>";
    font-size: 1em;
}

.carousel .caption > a {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background:var(--primary-blue);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}
.carousel .caption > a:hover{
    background: var(--hover-blue);
}



/* CARDS */

.cards{
    width:100%;
    padding:60px 40px;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    gap:25px;
}

.card{

    background:#fff;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.05);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h2{
    margin-bottom:10px;
}

.card p{
    color:#666;
    margin-bottom:20px;
}




.card button::after{
    content: ">>";
    font-size: 0.9em;
    position: relative;
    top: 1px;
    left: 2px;
}

.card button{
    padding:12px 30px;
    border: 1px solid darkgray;
    border-radius:8px;
    background:#fff;
    color: var( --text-muted);
    cursor:pointer;
    transition: 0.5s;
    font-weight: 500;
}

.card button:hover {
    color: var(--text-dark);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
}

footer{
    background:#fff;
    padding:25px;
    text-align:center;
    color:#777;
}

/* RESPONSIVO */

@media(max-width:768px){

    header{
        padding:0 20px;
    }

    nav{
        position:absolute;
        top:70px;
        left:-100%;
        width:100%;
        background:#fff;
        flex-direction:column;
        padding:30px 20px;
        gap:20px;
        transition:.4s;
        box-shadow:0 10px 20px rgba(0,0,0,.08);
    }

    nav.active{
        left:0;
    }

    .menu-toggle{
        display:block;
    }

    .user{
        display:none;
    }

    .user.mobile{
        display: inline;
    }

    .hero h1{
        font-size:38px;
    }

    .hero p{
        font-size:16px;
    }

    .carousel{
        height:260px;
    }

    .caption{
        left:15px;
        right:15px;
        bottom:15px;
        padding:10px;
    }

    .caption h2{
        font-size:18px;
    }

    .btn{
        width:40px;
        height:40px;
        font-size:18px;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
    }

    .card{
        width: 100%;
        text-align: center;
        padding:40px 20px;

    }

    .card button{
        width: 250px;
    }

}


